.searchbox {
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    color: var(--color-grey-dark-3);
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    transition: all .2s;
    margin-right: -3.25rem;
    width: 50%;
    box-shadow: var(--color-grey-dark-2) 1px 1px 5px;

    &:focus {
      outline: none;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-3);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}
